image:
  repository: bqmxnh/mlflow
  tag: "20251201044845"
  pullPolicy: IfNotPresent

service:
  port: 80          # Service port
  targetPort: 5000  # MLflow listens on 5000

ingress:
  enabled: true
  className: alb
  hosts:
    - host: mlflow.qmuit.id.vn
      paths:
        - path: /
          pathType: Prefix
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'



env:
  BACKEND_STORE_URI: "postgresql+psycopg2://mlflow:mlflow123@ids-mlflow-postgres-postgresql.mlflow.svc.cluster.local:5432/mlflow"
  ARTIFACT_ROOT: "s3://arf-ids-model-bucket/mlflow-artifacts"
  AWS_DEFAULT_REGION: "us-east-1"
  MLFLOW_S3_IGNORE_TLS: "false"

resources:
  requests:
    cpu: "20m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "512Mi"
