image:
  repository: ghcr.io/mlflow/mlflow
  tag: latest
  pullPolicy: IfNotPresent

service:
  port: 80          # Service port
  targetPort: 5000  # MLflow listens on 5000

ingress:
  enabled: true
  className: alb
  host: "mlflow.qmuit.id.vn"
  path: "/"

env:
  BACKEND_STORE_URI: "sqlite:////mlflow/mlflow.db"
  ARTIFACT_ROOT: "s3://arf-ids-model-bucket/mlflow-artifacts"
  AWS_DEFAULT_REGION: "us-east-1"
  MLFLOW_S3_IGNORE_TLS: "true"

resources:
  requests:
    cpu: "20m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "512Mi"
