image:
  repository: bqmxnh/arf-ids-api
  tag: "20251212205835"
  pullPolicy: Always

replicaCount: 2

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

containerPort: 8000

model:
  bucket: arf-ids-model-bucket
  version: "v1.0"

ingress:
  enabled: true
  className: alb
  host: api.qmuit.id.vn
  path: /

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 60
